/* pages/basics/work/home/home.wxss */
page {
    background-color: #efefef;
}
.work-box {
    padding: 32rpx;
    background-color: #ffffff;
    margin: 8rpx;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    view {
        line-height: 48rpx;
    }
    .title {
        font-weight: 600;
    }
    .sub-text {
        color: #606266;
    }
    .number {
        width: 300rpx;
    }
    .status {
        width: 100rpx;
        text-align: right;
    }
}

.box:nth-child(odd) {
    background-color: aquamarine;
}

.box:nth-child(even) {
    background-color: blueviolet;
}

.process-dialog-content {
    min-height: 200rpx;
    margin-top: 20rpx;
    margin-left: 20rpx;
    margin-right: 20rpx;
    .custom-class {
        margin-bottom: 20rpx;
    }
}